body {
    background-color: #5a2fb1;
    font-family: 'Mulish', sans-serif;
    margin: 0px;
}

.header {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
}

.header__img {
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu:hover, .header__menu:hover .header__profile-list {
    display: block;
}

.header__profile-list {
    display: none;
    list-style: none;
    margin: 0 0 0 -15px;
    padding: 0px;
    position: absolute;
    text-align: right;
    width: 100px;
}

.header__profile-item-list {
    margin: 10px 0px;
}

.header__profile-link {
    color: white;
    text-decoration: none;
}

.header__profile-link:hover {
    text-decoration: underline;
}

.header__profile {
    align-items: center;
    display: flex;
    margin-right: 8px;
}

.header__user-img {
    margin-right: 8px;
    width: 40px;
}

.header__user-name {
    color: white;
    margin: 0px;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0px;
    position: relative;
}

.main__title {
    color: white;
    font-size: 25px;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
}

.input::placeholder {
    color: white;
}

.categories__title {
    color: white;
    font-size: 25px;
    padding-left: 150px;
    width: 100%;
}

.categories__title-bordertop {
    margin-top: 60px;
}

.carousel {
    width: 100%;
    overflow: auto;
    padding: 30px;
    position: relative;
    left: 30px;
}

.carousel__container {
    white-space: nowrap;
    margin: 50px 0px;
    padding-bottom: 10px;
    /*para que no aparezca cortado al hacer :hover*/
}

.carousel-item {
    background-color: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover~.carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.carousel-item__details:hover {
    opacity: 1;
}

.carousel-item__icons img {
    width: 25px;
}

.carousel-item__details--title {
    margin-top: 5px;
    color: white;
    font-size: 10px;
}

.carousel-item__details--subtitle {
    color: white;
    font-size: 8px;
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer__link {
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

/* ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, .4);
    border-radius: 4px;
}

::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar:hover:active {
    background: #999;
} */